@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
<div class="text-center d-flex justify-content-around">
    <div class="flex-1 m-3">
   <h2> Register</h2>
   <form asp-action="CreateUser" asp-controller="Home" method="post">

   <div class="mb-3">
   <label asp-for="Username"></label>
   <input asp-for="Username" class="form-control">
   <span asp-validation-for="Username" class="text-danger"></span>
   </div>
    <div class="mb-3">
   <label asp-for="Email"></label>
   <input asp-for="Email" class="form-control">
   <span asp-validation-for="Email" class="text-danger"></span>
   </div>
     <div class="mb-3">
   <label asp-for="Password"></label>
   <input asp-for="Password" class="form-control">
   <span asp-validation-for="Password" class="text-danger"></span>
   </div>
    <div class="mb-3">
   <label asp-for="Confirm"></label>
   <input asp-for="Confirm" class="form-control">
   <span asp-validation-for="Confirm" class="text-danger"></span>
   </div>
    <div class="mb-3">
   <label asp-for="Subscribe"></label>
   <input asp-for="Subscribe" class="form-check">
   <span asp-validation-for="Subscribe" class="text-danger"></span>
   </div>
   
   <input type="submit" value="Register" class="btn btn-info">
   
   </form>
    
    </div>
    <div class="flex-1 m-3">
   <h2>Login</h2>
@await Html.PartialAsync("_Login")
    
    
    </div>
</div>
</div>
