@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <div class="row">
        <div class="col-6">
            @await Html.PartialAsync("_Register")
        </div>
        <div class="col-6">
            @await Html.PartialAsync("_Login")
        </div>
    </div>
</div>
